# IDE - VSCODE

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# img

*.jpg
*.png

# videos

*.mp4

# log

*.log

# files

dir_to_ignore/_pycache_

##

.pyc